/* Variables */
$fontHeading: 'Bebas Neue', sans-serif;
$fontCopy: 'Poppins', sans-serif;

$standardElementHeight: 42px;

/* UI Elements */

.button,
button {
    // color: ;
    background: #333;
    border: 1px solid #333;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    height: $standardElementHeight;
    line-height: $standardElementHeight;
    padding: 0 20px;

    & + & {
        margin-left: 10px;
    }

    &:hover {
        background: #444;
        cursor: pointer;
    }

    &:active,
    &:focus {
        border-color: rgb(95, 255, 188);
        outline: none;
    }

    @media (prefers-color-scheme: dark) {
        border-color: #333;
        color: #333;
        background: #fff;

        &:hover {
            background: #eee;
        }
    }

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }
}

/* Forms */
input {
    // background: rgb(248, 248, 248);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    height: $standardElementHeight;
    padding: 0 10px;

    @media (prefers-color-scheme: dark) {
        // background: #222;
        // color: #fff;
    }
}

.form_full-width {
    input {
        box-sizing: border-box;
        width: 100%;
    }
}

/* Layout */

body {
    background: #eee;
    font-family: $fontCopy;

    @media (prefers-color-scheme: dark) {
        background: #222;
        color: #fff;
    }
}

.main-container {
    margin: auto;
    max-width: 960px;
}

.main-heading {
    font-family: $fontHeading;
    font-size: 50px;
    margin-bottom: 0.1em;
}

.page-description {
    color: #333;
    max-width: 60%;

    @media (prefers-color-scheme: dark) {
        color: #eee;
    }
}

.box-element {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 25px;

    @media (prefers-color-scheme: dark) {
        background: #333;
        border-color: #555;
    }
}

/* Game */

.game-container {
    display: none;
    margin-top: 40px;
}

.player-selector {
    clear: both;
    width: 100%;

    @at-root #{&}__item {
        float: left;
        width: 49%;
        @extend .box-element;
    
        & + & {
            margin-left: 2%;
        }
    
        h3 {
            margin-top: 0;
        }
    
        select {
            width: 100%;
            height: $standardElementHeight;
        }
    }
}

.game-action {
    clear: both;
    @extend .box-element;
}

